.validation-button {
  background-color: var(--primary);
  color: var(--text-light);
  font-weight: bold;
  margin-top: 10px;
}

.validation-button:hover {
  border: 2px solid var(--secondary-hover);
}

.default-color {
  background-color: var(--secondary);
  color: var(--text-light);
}

.default-hover:hover {
  border: 2px solid var(--secondary-hover);
  background-color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--text-light);
}

.bg-primary:hover {
  background-color: var(--primary-hover);
}

.bg-light-color {
  background-color: var(--bg-light);
}

.bg-light-color:hover {
  background-color: var(--bg-light-hover);
}

.none-color {
  background-color: transparent;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}

.bg-success {
  background-color: var(--green);
}

.bg-fail {
  background-color: var(--red);
}

/* BASE COMMUNE */
.aria-icon, .pathfinder-icon, .poudlard-icon, .goldensun-icon, .verrousdor-icon .dernierepluie-icon {
  text-align: center;
  background-position: center;
  background-size: cover;
 }

.aria-color-article, .pathfinder-color-article, .poudlard-color-article, .goldensun-color-article, .verrousdor-color-article .dernierepluie-color-article {
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* ------------------------------------------------
                      ARIA                      
 ------------------------------------------------ */
.aria-icon {
  background-image: url("/static/images/aria.png");
}

.aria-btn:hover {
  box-shadow: inset 0 0 5px var(--medium-orange);
}

.button-aria:hover {
  border: 2px solid var(--medium-orange);
}

.aria-color {
  background-color: var(--rose);
  color: var(--text-dark);
}

.aria-hover {
  box-shadow: 0 0 10px 6px var(--medium-orange-hover);
  background-color: var(--medium-orange-hover);
}

.aria-hover:hover {
  box-shadow: 0 0 10px 5px var(--medium-orange);
}

.aria-button {
  background-color: var(--medium-orange);
  color: var(--text-light);
}

.aria-color-title {
  background-color: var(--medium-orange);
  color: var(--text-light);
  border-radius: 3px 3px 0 0;
  text-shadow: 2px 2px 2px var(--text-dark);
}

.aria-article {
  border: 1px solid var(--medium-orange);
  margin-bottom: 20px;
}


/* ------------------------------------------------
                      GOLDEN SUN                      
 ------------------------------------------------ */

.goldensun-icon {
  background-image: url("/static/images/goldensun.png"); 
}

.goldensun-btn:hover {
  box-shadow: inset 0 0 5px var(--golden);
}

.button-goldensun:hover {
  border: 2px solid var(--golden);
}

.goldensun-color {
  background-color: var(--yellow);
  color: var(--text-dark);
}

.goldensun-hover {
  box-shadow: 0 0 10px 6px var(--golden);
  background-color: var(--yellow);
}

.goldensun-hover:hover {
  box-shadow: 0 0 10px 5px var(--yellow);
}

.goldensun-button {
  background-color: var(--golden);
  color: var(--light-red);
}

.goldensun-color-title {
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 3px 3px 0 0;
  text-shadow: 2px 2px 2px var(--dark-yellow);
}

.goldensun-article {
  border: 1px solid var(--dark-yellow);
  margin-bottom: 20px;
}

/* ------------------------------------------------
                      POUDLARD                      
 ------------------------------------------------ */

.poudlard-icon {
  background-image: url("/static/images/poudlard.png"); 
}

.poudlard-btn:hover {
  box-shadow: inset 0 0 5px var(--dark-blue);
}

.button-poudlard:hover {
  border: 2px solid var(--dark-blue);
}

.poudlard-color {
  background-color: var(--medium-blue);
  color: var(--text-light);
}

.poudlard-hover {
  box-shadow: 0 0 10px 6px var(--dark-blue-hover);
  background-color: var(--dark-blue-hover);
}

.poudlard-hover:hover {
  box-shadow: 0 0 10px 5px var(--blue);
}

.poudlard-button {
  background-color: var(--dark-blue);
  color: var(--text-light);
}

.poudlard-article {
  border: 1px solid var(--medium-blue);
  margin-bottom: 20px;
}

.poudlard-color-title {
  background-color: var(--medium-blue);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}

/* ------------------------------------------------
                      PATHFINDER                      
 ------------------------------------------------ */

.pathfinder-icon {
  background-image: url("/static/images/pathfinder.png"); 
}

.pathfinder-btn:hover {
  box-shadow: inset 0 0 5px var(--dark-purple);
}

.button-pathfinder:hover {
  border: 2px solid var(--dark-purple);
}

.pathfinder-color {
  background-color: var(--violet);
  color: var(--text-light);
}

.pathfinder-hover {
  box-shadow: 0 0 10px 6px var(--dark-purple-hover);
  background-color: var(--dark-purple-hover);
}

.pathfinder-hover:hover {
  box-shadow: 0 0 10px 5px var(--violet);
}

.pathfinder-button {
  background-color: var(--dark-purple);
  color: var(--text-light);
}

.pathfinder-article {
  border: 1px solid var(--dark-purple);
}

.pathfinder-color-title {
  background-color: var(--violet);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}

/* ------------------------------------------------
              Les clés des Verrous d'Or                      
 ------------------------------------------------ */
.verrousdor-icon {
  background-image: url("/static/images/verrousdor.png"); 
  background-position: top;
 }

.button-verrousdor:hover {
  border: 2px solid var(--dark-brown);
}

.verrousdor-color {
  background-color: var(--brown);
  color: var(--text-light);
}

.verrousdor-article {
  border: 1px solid var(--brown);
}

.verrousdor-color-title {
  background-color: var(--brown);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}

/* ------------------------------------------------
              La Dernière pluie                      
 ------------------------------------------------ */
.dernierepluie-icon {
  background-image: url("/static/images/dernierepluie.png");
  background-position: center;
 }

.button-submit-dernierepluie {
  background-color: var(--dernierepluie-hover);
  margin-top: 5px;
}

.button-dernierepluie:hover {
  border: 2px solid var(--dernierepluie-hover);
}

.dernierepluie-color {
  background-color: var(--dernierepluie);
  color: var(--text-light);
}

.dernierepluie-article {
  border: 1px solid var(--dernierepluie);
  margin-bottom: 20px;
}

.dernierepluie-color-title {
  background-color: var(--dernierepluie);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}