.validation-button {
  background-color: var(--secondary);
  color: var(--text-light);
  font-weight: bold;
  margin-top: 10px;
}

.validation-button:hover {
  border: 2px solid var(--secondary-hover);
}

.default-color {
  background-color: var(--primary);
  color: var(--text-light);
}

.default-hover:hover {
  border: 2px solid var(--secondary-hover);
  background-color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--text-light);
}

.bg-primary:hover {
  background-color: var(--primary-hover);
}

.bg-light-color {
  background-color: var(--bg-light);
}

.bg-light-color:hover {
  background-color: var(--bg-light-hover);
}

.none-color {
  background-color: transparent;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}

.bg-success {
  background-color: var(--green);
}

.bg-fail {
  background-color: var(--red);
}

/* BASE COMMUNE */
.aria-icon, .coleredesjustes-icon, .poudlard-icon, .goldensun-icon, .verrousdor-icon .dernierepluie-icon, .eveilseigneursdesrunes-icon {
  text-align: center;
  background-position: center;
  background-size: cover;
 }

.aria-article, .coleredesjustes-article, .poudlard-article, .goldensun-article, .verrousdor-article .dernierepluie-article, .eveilseigneursdesrunes-article {
  border-radius: 5px;
  text-decoration: none;
}

.aria-img-bg, .coleredesjustes-img-bg, .poudlard-img-bg, .goldensun-img-bg, .verrousdor-img-bg, .dernierepluie-img-bg, .eveilseigneursdesrunes-img-bg {
  background-color: var(--bg-light);
  border-radius: 5px;
}

/* ------------------------------------------------
                      ARIA                      
 ------------------------------------------------ */
.aria-icon {
  background-image: url("/static/images/aria.png");
}

.aria-btn:hover {
  box-shadow: inset 0 0 5px var(--aria);
}

.button-aria:hover {
  border: 2px solid var(--aria);
}

.aria-color {
  background-color: var(--aria-light);
  color: var(--text-dark);
}

.aria-hover {
  box-shadow: 0 0 10px 6px var(--aria-dark);
  background-color: var(--aria-dark);
}

.aria-hover:hover {
  box-shadow: 0 0 10px 5px var(--aria-dark);
}

.aria-button {
  background-color: var(--aria);
  color: var(--text-light);
}

.aria-color-title {
  background-color: var(--aria);
}

.aria-article {
  border: 1px solid var(--aria);
  margin-bottom: 20px;
}


/* ------------------------------------------------
                      GOLDEN SUN                      
 ------------------------------------------------ */

.goldensun-icon {
  background-image: url("/static/images/goldensun.png"); 
}

.goldensun-btn:hover {
  box-shadow: inset 0 0 5px var(--goldensun-dark);
}

.button-goldensun:hover {
  border: 2px solid var(--goldensun-dark);
}

.goldensun-color {
  background-color: var(--goldensun);
  color: var(--text-dark);
}

.goldensun-hover {
  box-shadow: 0 0 10px 6px var(--goldensun-hover);
  background-color: var(--goldensun);
}

.goldensun-hover:hover {
  box-shadow: 0 0 10px 5px var(--goldensun);
}

.goldensun-button {
  background-color: var(--goldensun);
  color: var(--text-dark);
}

.goldensun-color-title {
  background-color: var(--goldensun);
}

.goldensun-article {
  border: 1px solid var(--goldensun-dark);
  margin-bottom: 20px;
}

/* ------------------------------------------------
                      POUDLARD                      
 ------------------------------------------------ */

.poudlard-icon {
  background-image: url("/static/images/poudlard.png"); 
}

.poudlard-btn:hover {
  box-shadow: inset 0 0 5px var(--poudlard);
}

.button-poudlard:hover {
  border: 2px solid var(--poudlard-light);
}

.poudlard-color {
  background-color: var(--poudlard);
  color: var(--text-light);
}

.poudlard-hover {
  box-shadow: 0 0 10px 6px var(--poudlard);
  background-color: var(--poudlard);
}

.poudlard-hover:hover {
  box-shadow: 0 0 10px 5px var(--secondary);
}

.poudlard-button {
  background-color: var(--poudlard);
  color: var(--text-light);
}

.poudlard-article {
  border: 1px solid var(--poudlard);
  margin-bottom: 20px;
}

.poudlard-color-title {
  background-color: var(--poudlard);
}

/* ------------------------------------------------
                      coleredesjustes                      
 ------------------------------------------------ */

.coleredesjustes-icon {
  background-image: url("/static/images/coleredesjustes.png"); 
}

.coleredesjustes-btn:hover {
  box-shadow: inset 0 0 5px var(--coleredesjustes);
}

.button-coleredesjustes:hover {
  border: 2px solid var(--coleredesjustes);
}

.coleredesjustes-color {
  background-color: var(--coleredesjustes-light);
  color: var(--text-light);
}

.coleredesjustes-hover {
  box-shadow: 0 0 10px 6px var(--coleredesjustes-dark);
  background-color: var(--coleredesjustes-dark);
}

.coleredesjustes-hover:hover {
  box-shadow: 0 0 10px 5px var(--coleredesjustes-light);
}

.coleredesjustes-button {
  background-color: var(--coleredesjustes);
  color: var(--text-light);
}

.coleredesjustes-article {
  border: 1px solid var(--coleredesjustes);
}

.coleredesjustes-color-title {
  background-color: var(--coleredesjustes-light);
}

/* ------------------------------------------------
              Les clés des Verrous d'Or                      
 ------------------------------------------------ */
.verrousdor-icon {
  background-image: url("/static/images/verrousdor.png"); 
  background-position: top;
 }

.button-verrousdor:hover {
  border: 2px solid var(--verrousdor-dark);
}

.verrousdor-color {
  background-color: var(--verrousdor);
  color: var(--text-light);
}

.verrousdor-article {
  border: 1px solid var(--verrousdor);
  border-radius: 5px;
}

.verrousdor-color-title {
  background-color: var(--verrousdor);
}

/* ------------------------------------------------
              La Dernière pluie                      
 ------------------------------------------------ */
.dernierepluie-icon {
  background-image: url("/static/images/dernierepluie.png");
  background-position: center;
 }

.button-submit-dernierepluie {
  background-color: var(--dernierepluie-hover);
  color: var(--text-light);
  margin-top: 5px;
}

.button-dernierepluie:hover {
  border: 2px solid var(--dernierepluie-hover);
}

.dernierepluie-color {
  background-color: var(--dernierepluie);
  color: var(--text-light);
}

.dernierepluie-article {
  border: 1px solid var(--dernierepluie);
  border-radius: 5px;
}

.dernierepluie-color-title {
  background-color: var(--dernierepluie);
}

/* ------------------------------------------------
          L'éveil des seigneurs des runes                     
 ------------------------------------------------ */
.eveilseigneursdesrunes-icon {
  background-image: url("/static/images/eveilseigneursdesrunes.png");
  background-position: center;
 }

.button-submit-eveilseigneursdesrunes {
  background-color: var(--eveilseigneursdesrunes-light);
  color: var(--text-light);
  margin-top: 5px;
}

.button-eveilseigneursdesrunes:hover {
  border: 2px solid var(--eveilseigneursdesrunes-light);
}

.eveilseigneursdesrunes-color {
  background-color: var(--eveilseigneursdesrunes);
  color: var(--text-light);
}

.eveilseigneursdesrunes-article {
  border: 1px solid var(--eveilseigneursdesrunes);
}

.eveilseigneursdesrunes-color-title {
  background-color: var(--eveilseigneursdesrunes);
}