/* AFFICHAGE MOBILE */

@media (max-width: 400px) {
  .pj-recap {
    width: 98%;
    margin: 10px 0;
  }

  .pj-recap article {
    margin: 0 2px;
  }

  .round {
    min-width: 30px;
    min-height: 30px;
  }

  .link-card {
    width: 90%;
    height: 160px;
  }

  .card {
    height: 150px;
  }

  .home-title {
    width: 90%;
  }

  .title {
    height: 50px;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 401px) and (max-width: 700px){

  .pj-recap {
    padding: 0 5px;
    width: 100%;
  }

  .link-card {
    width: 90%;
    height: 200px;
  }

  .card {
    height: 180px;
  }

  .pj-recap article {
    margin: 0 5px;
  }

  .stats-section p, .pj-recap p {
    font-size: 14px;
  }

  #nb-games {
    font-size: 1.2rem;
  }

  .home-title {
    width: 90%;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (min-width: 701px) {
  .pj-recap {
    width: 90%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .title {
    height: 50px;
  }

  .pj-recap {
    margin: 10px 0;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .pj-recap-crit {
    margin: 5px;
  }

  .pj-recap-crit p:first-child {
    margin-bottom: 5px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
  }
}