@import url('/static/css/genericStyle.css');
@import url('/static/css/colorStyle.css');

:root {
  --dark-blue: rgb(27, 40, 49);
  --dark-blue-hover: rgba(27, 40, 49, 0.8);
  --medium-blue: rgb(67, 97, 119);
  --medium-orange: rgb(175, 86, 62);
  --medium-orange-hover: rgba(223, 145, 123, 0.7);
  --dark-purple: rgb(63, 20, 133);
  --dark-purple-hover: rgba(63, 20, 133, 0.8);
  --violet: rgb(138, 101, 211);
  --blue: rgb(29, 100, 154);
  --light-blue: rgb(140, 177, 206);
  --rose: rgb(235, 164, 145);
  --text-light: rgb(241, 249, 255);
  --text-dark: rgb(27, 27, 27);
  --bg-light: rgb(245, 251, 255);
  --white: rgb(255, 255, 255);
  --light-yellow: rgb(226, 192, 80);
  --yellow: rgb(233, 194, 66);
  --golden: rgb(161, 124, 0);
  --dark-yellow: rgb(75, 58, 1);
  --button-hover: rgb(110, 110, 110);
  --red: rgb(255, 0, 0);
  --green: rgb(37, 184, 0);
  
  background-color: var(--bg-light);
  color: var(--text-light);
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 18px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: inherit;
}

.button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.more-info-btn {
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  padding: 3px 8px 5px;
  background-color: var(--white);
  color: var(--text-dark);
  text-decoration: none;
  border: 2px solid transparent;
}

.new-game-btn {
  position: absolute;
  right: 10px;
}

.title-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  text-align: center;
  padding: 20px 0;
  background-color: var(--dark-blue);
  border-radius: 5px;
  width: 70%;
}

.rpg-card {
  width: 100%;
  height: 200px;
  border: 3px solid var(--bg-light);
  border-radius: 10px;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 1px 3px var(--dark-blue);
  margin: 0;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-title {
  margin: 30px 0;
}

.bg-title {
  background-color: var(--dark-blue);
}

.link-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 220px;
}

.main-row{
  display: flex;
  align-items: center;
  width: 100%;
  height: 60%;
  gap: 20px;
}


table {
  border: 1px solid var(--text-dark);
}

td {
  text-align: center;
}

/* 
-----------------------------------------------------
                    NAVBAR 
-----------------------------------------------------
*/

.nav-section {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  padding: 0 5px 3px 5px;
  margin: 5px 0;
  color: var(--text-light);
  text-shadow: 1px 1px 2px var(--dark-blue);
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.nav-icon {
  margin: 2px 0;
  text-decoration: none;
}

.icon {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 1px;
}

.img-icon {
  width: 25px;
  height: 25px;
}

.img-icon-bg {
  background-color: white;
  border-radius: 100%;
  padding: 2px;
  width: 30px;
  height: 30PX;
}

/* 
-----------------------------------------------------
                    PAGE DETAIL 
-----------------------------------------------------
*/

.page-header {
  width: 100%;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-body-page {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  flex-grow: 1;
}

#nb-games {
  align-items: flex-start;
}

.pj-recap {
  display: flex;
  justify-content: space-between;
  color: var(--text-dark);
  width: 70%;
  margin: 20px 0;
}

.pj-recap-dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.pj-recap-crit {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.pj-recap-crit p:first-child {
  margin-bottom: 10px;
}

.dice-info {
  margin: 0;
  text-align: center;
}

.pj-recap article {
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.link-button {
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
}

.pj-recap h3 {
  margin-bottom: 0;
}

.pj-recap h4 {
  margin: 10px 0 10px 0;
}

.info-title {
  font-size: 18px;
  text-align: center;
  height: 100px;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px;
}

.rpg-card:hover {
  border: 3px solid var(--blue);
}

.stats-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--text-dark);
  width: 95%;
}

.stats-section article {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1fr);
  padding: 0;
}

.stats-section h3 {
  grid-column: 1/4;
  grid-row: 1/1;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  align-content: center;
}

#pathfinder-stats-section h3 {
  grid-column: 1/5;
}

.stats-section div {
  grid-row: 2/5;
  justify-self: center;
  align-content: center;
}

.stats-section h4 {
  margin: 10px 0;
  text-align: center;
}

.stats-section p {
  margin: 5px 0;
}

/* 
-----------------------------------------------------
                  PAGE NOUVELLE PARTIE 
-----------------------------------------------------
*/

.form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--dark-blue);
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  margin: 30px 0 0 0;
  font-weight: bold;
  border: 2px solid transparent;
}

.character-div {
  width: 100%;
  text-align: left;
}

.character-div div {
  display: flex;
  align-items: center;
}

.form input, .login-form input {
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.form label, .login-form label {
  font-weight: 600;
  font-size: medium;
  margin: 0 10px;
}

.dices-list {
  flex-grow: 2;
}

/* 
-----------------------------------------------------
                  LOGIN FORM 
-----------------------------------------------------
*/

.login-form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--dark-blue);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
  width: 20%;
  margin-top: 10%;
}

.login-form label, .login-form input {
  color: var(--text-dark);
  margin-bottom: 10px;
  width: 90%;
}


/* ------------------------------------------------
                   MEDIA 
---------------------------------------------------*/

@media (min-width: 100px) and (max-width: 400px) {
  .pj-recap {
    width: 98%;
    margin: 10px 0;
  }

  .pj-recap article {
    margin: 0 2px;
  }

  .round {
    min-width: 30px;
    min-height: 30px;
  }

  .link-card {
    width: 90%;
    height: 160px;
  }

  .card {
    height: 150px;
  }

  .rpg-card {
    height: 160px;
  }

  .home-title {
    width: 90%;
    padding: 10px 0;
  }

  .title {
    height: 50px;
  }

  .pj-recap h3 {
    margin-top: 35px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

  #character-main-page {
    display: flex;
    flex-direction: column;
  }

  #character-main-page section {
    width: 95%;
  }

  #character-main-page h2 {
    text-align: center;
  }

  #character-main-page article {
    width: 95%;
    padding: 10px 0;
    height: fit-content;
  }

  #histogram {
    width: 100%;
  }
}

@media (min-width: 401px) and (max-width: 600px){

  .pj-recap {
    padding: 0 5px;
    width: 100%;
  }

  .link-card {
    width: 90%;
    height: 200px;
  }

  .card {
    height: 180px;
  }

  .pj-recap article {
    margin: 0 5px;
  }

  .stats-section p, .pj-recap p {
    font-size: 14px;
  }

  #nb-games {
    font-size: 1.2rem;
  }

  .home-title {
    width: 90%;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #character-main-page {
    display: flex;
    flex-direction: column;
  }

  #character-main-page section {
    width: 95%;
  }

  #character-main-page h2 {
    text-align: center;
  }

  #character-main-page article {
    width: 90%;
    padding: 10px 0;
    height: fit-content;
  }

  #histogram {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .pj-recap {
    width: 90%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #character-main-page {
    display: flex;
    flex-direction: column;
  }

  #character-main-page section {
    width: 95%;
  }

  #character-main-page h2 {
    text-align: center;
  }

  #character-main-page article {
    width: 60%;
    padding: 10px 0;
    height: fit-content;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .title {
    height: 50px;
  }

  .pj-recap {
    margin: 10px 0;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .pj-recap-crit {
    margin: 5px;
  }

  .pj-recap-crit p:first-child {
    margin-bottom: 5px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
  }
}