<%- include('partials/header') %>
<main class="new-campaign__main">
  <header class="nav-section">
    <nav class="navbar default-color">
      <a href="/" class="nav-item default-hover">Retour à l'accueil</a>
    </nav>
  </header>
  
  <h1 class="title bg-title">Créer une nouvelle campagne</h1>
  
  <section class="new-campaign__form-section">
    <form action="/nouvelle-campagne" method="post" class="new-campaign-form">
      <label for="campaignName">Nom de la campagne</label>
      <input type="text" name="name" id="campaignName">
    
      <label for="campaignSlug">Mot-clé</label>
      <input type="text" name="slug" id="campaignSlug">
    
      <label for="characters">Nom des personnages</label>
      <input type="text" name="characters" id="characters">
    
      <label for="diceSystem">Valeur du dé</label>
      <input type="number" name="diceSystem" id="diceSystem">
    
    
      <h3 class="new-campaign-form__subtitle">Système de critique</h3>
      <div class="radio-div-container">
        <div class="radio-div">
          <input type="radio" name="systemOrder" id="DESC" value="DESC">
          <label for="DESC">Système classique (DND)</label>
        </div>
        <div class="radio-div">
          <input type="radio" name="systemOrder" id="ASC" value="ASC">
          <label for="ASC">Système inversé</label>
        </div>
      </div>
    
      <button type="submit" class="button validation-button">Valider</button>
    </form>
  </section>
</main>

<%- include('partials/footer') %>